<a href="https://colab.research.google.com/github/fajarenob/hacktiv8-exercises/blob/main/Livecoding1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import Loading

In [1]:
import numpy as np
import pandas as pd

##Fungsi Perhitungan Hambatan dan Daya

In [143]:
def hambatan_dan_daya(mode, V, I):
  if mode == "hambatan":
    hambatan = V / I
  else:
    daya = V * I
  return hambatan_dan_daya

##Pembuatan Kolom Baru

In [115]:
data = pd.read_excel('NMC1-9.xlsx')
data

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [122]:
data1 = data.copy()

In [123]:
data1

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [124]:
rename_data1 = data1.rename(
    columns={'time(s)':'t','V_m':'V','Current (A)':'I'}
)
rename_data1.head()

   t      V      I  Cycle       Cap
0  0  4.098  0.997      1  2.840817
1  1  4.096  0.998      1  2.840817
2  2  4.094  0.999      1  2.840817
3  3  4.093  0.998      1  2.840817
4  4  4.092  0.999      1  2.840817